name: CI-CD1

on:
    push:
        branches:
            - main

    pull_request:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-18.04

        steps:
            - name: Deploy
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.REMOTE_IP_1 }}
                  username: ${{ secrets.REMOTE_SSH_ID }}
                  key: ${{ secrets.REMOTE_SSH_KEY }}
                  port: ${{ secrets.REMOTE_SSH_PORT }}
                  script: |
                      cd /home/ubuntu/seuchida_BE_test
                      # git config --global --add safe.directory /home/ubuntu/seuchida_BE
                      sudo git pull origin main
                      # sudo npm update
                      sudo npm install
                      sudo pm2 reload all
